.plataforma-container {
    padding: 100px 20px;
    display: flex;
    justify-content: space-between;
}

.personagens {
    max-width: 45dvw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    text-align: center;
    gap: 40px 60px;
}

.personagens > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.personagens > div > img {
    height: 150px;
}

.dica {
    width: 100%;
    margin-bottom: 10px;
}

.explicacao {
    padding-left: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
}

.chat-container {
    padding-top: 100px;
}