.plataforma-container {
    padding: 100px 20px;
    display: flex;
    justify-content: space-between;
}

.personagens {
    max-width: 45dvw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    text-align: center;
    gap: 40px 60px;
}

.personagens > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.personagens > div > img {
    height: 150px;
}

.personagem:hover {
    transform: scale(1.05);
}

.dica {
    width: 100%;
    margin-bottom: 10px;
}

.explicacao {
    padding: 0px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
    align-items: center;
}

.aviso-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100dvw;
    height: 100dvh;
    background-color: #00000042;
}

.aviso {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    max-width: 350px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    background-color: #F8F9FA;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #00000062;
}

.aviso-btns {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.aviso-cancelar {
    background-color: transparent;
    border: none;
    font-size: 1.1em;
}

.plataforma-planos {
    margin-top: 70px;
    box-shadow: none;
}
