<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="64x64"  href="{{ url_for('static', filename='imagens/logos/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos/regisLog.css') }}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">


    <title>VibeScript - registrar</title>
</head>
<body>
    <main>
        <div class="form-container">
            <a href="{{ url_for('home') }}"><span class="fexar">x</span></a>
            <div class="form-content">
                <div class="form">
                    <h3>Registrar-se</h3>
                    <form action="regis_validar" method="post">
                        <label for="nome">nome</label>
                        <input type="text" name="nome" placeholder="seu nome">
                        <label for="email">e-mail</label>
                        <input type="email" name="email" placeholder="seu e-mail">
                        <div>
                            <label class="lb-senha" for="senha">senha</label>
                            <input class="inp-senha" type="password" name="senha" placeholder="sua senha">
                            <i class="bi bi-eye-fill verSenha"></i>
                        </div>
                        <div>
                            <label class="lb-senha" for="confirm-senha">senha</label>
                            <input class="inp-senha" type="password" name="confirm-senha" placeholder="confirme sua senha">
                            <i class="bi bi-eye-fill verSenha"></i>
                        </div>
                        {% set mensagem = get_flashed_messages() %}
                        {% if mensagem %}
                            <p class="erro">{{ mensagem[0] }}</p>
                        {% endif %}
                        <input class="btn-submit" type="submit" value="Registrar-se">
                    </form>
                    <p class="lnk-registrar">já tem uma conta? <a href="{{ url_for('login.formulario') }}">logar</a></p>
                </div>
                <div class="img-container">
                    <img src="{{ url_for('static', filename='imagens/personagens/personagem2.png') }}" alt="">
                    <h3>Bem vindo!</h3>
                </div>
            </div>
        </div>
    </main>

    <script src="{{ url_for('static', filename='js/regisLog.js') }}"></script>
</body>
</html>