<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos/regisLog.css') }}">
    <title>VibeScript - login</title>
</head>
<body>
    <main>
        <div class="form-container">
            <a href="{{ url_for('home') }}"><span class="fexar">x</span></a>
            <div class="form-content">
                <div class="img-container">
                    <img src="{{ url_for('static', filename='imagens/personagens/personagem2.png') }}" alt="">
                    <h3>Bem vindo de volta!</h3>
                </div>
                <div class="form">
                    <h3>Login</h3>
                    <form action="{{ url_for('login.loginValidar') }}" method="post">
                        <label for="email">e-mail</label>
                        <input type="email" name="email" placeholder="e-mail">
                        <label for="senha">senha</label>
                        <input type="password" name="senha" placeholder="Senha">
                        <input class="btn-submit" type="submit" value="Login">
                    </form>
                    <p class="lnk-registrar">não tem uma conta? <a href="{{ url_for('registrar.formulario') }}">registrar-se</a></p>
                </div>
            </div>
        </div>
    </main>
</body>
</html>