<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('plataforma.static', filename='estilos/chat.css') }}" >
    <script src="{{ url_for('plataforma.static', filename='js/chat.js') }}"></script>
    <title>VibeScript - plataforma</title>
</head>
<body>
    <header>
        <div class="cabecalho-container">
            <div class="logo-container">
                <a href="#">
                    <img class="logo" src="{{ url_for('static', filename='imagens/logos/logo1.png') }}" alt="Logo">
                </a>
            </div>
            <div class="cabecalho-btns">
                <a class="lnk-planos" href="{{ url_for('home') }}">Home</a>
                <a class="lnk-login" href="{{ url_for('plataforma.plataformaHome') }}">Voltar</a>
                <a class="lnk-regis" href="{{ url_for('plataforma.planos') }}">Atualizar Plano</a>
            </div>
        </div>
    </header>
    <main>
        <section class="chat-container">
            <div class="infos-personagem">
                <div class="nome-img-persona">
                    <div class="persona-imagem-container">
                        <img src="{{ url_for('plataforma.static', filename=dados_personagem['imagem']) }}" alt="{{ dados_personagem['nome'] }}">
                    </div>
                    <h3>{{dados_personagem['nome']}}</h3>
                    <p id="id-personagem" style="display: none;">{{ id_personagem }}</p>
                </div>
                <div class="histórico-roteiros">
                    <div class="roteiro">
                        <h3>histórico de chats</h3>
                        <p class="data-hora-roteiro"><span class="data-roteiro">20/02/20024</span> <span class="hora-roteiro">10:23</span></p>
                    </div>
                    <!-- <div class="roteiro">
                        <h3>melhore seeu futebol</h3>
                        <p class="data-hora-roteiro"><span class="data-roteiro">21/02/20024</span> <span class="hora-roteiro">11:30</span></p>
                    </div>
                    <div class="roteiro">
                        <h3>curiosidades sobre mim</h3>
                        <p class="data-hora-roteiro"><span class="data-roteiro">23/02/20024</span> <span class="hora-roteiro">09:40</span></p>
                    </div> -->
                </div>
            </div>
            <div class="chat-content">
                <div class="apresentacao-chat">
                    <h2 class="apresentacao-chat-msg">Que Bom te ver, {{nome_usuario}}, <br> Me Conte a Sua Ideia de Vídeo.</h2>
                </div>
                <form class="input-chat">
                    <input class="input-ideia" type="text" name="ideia" placeholder="digite a sua ideia">
                    <!-- <button type="submit" value=">"> -->
                    <button type="button" class="input-submit">></button>
                </form>
                </section>
    </main>

</body>
</html>