<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('plataforma.static', filename='estilos/plataforma.css') }}" >
    <title>VibeScript - plataforma</title>
</head>
<body>
    <header>
        <div class="cabecalho-container">
            <div class="logo-container">
                <a href="#">
                    <img class="logo" src="{{ url_for('static', filename='imagens/logos/logo1.png') }}" alt="Logo">
                </a>
            </div>
            <div class="cabecalho-btns">
                <a class="lnk-planos" href="{{ url_for('home') }}">Home</a>
                <a class="lnk-login" href="{{ url_for('login.logout') }}">Sair</a>
                <a class="lnk-regis" href="{{ url_for('plataforma.planos') }}">Atualizar Plano</a>
            </div>
        </div>
    </header>
    <main>
        <section class="plataforma-container">
            <div class="personagens">
                <h2 class="dica">Selecione ou crie seu personagem</h2>
                <p style="display: none;">{{ personagens[0] }}</p>
                <p style="display: none;">{{ personagens[1] }}</p>
                {% for i in range(personagens[0] | length) %}
                <div class="personagem">
                    <img src="{{ url_for('plataforma.static', filename=personagens[1][i]['caminho_imagem']) }}" alt="personagem">
                    <h3>{{ personagens[0][i]['nome_personagem'] }}</h3>
                    <p class="id-personagem" style="display: none;">{{ personagens[0][i]['id'] }}</p>
                </div>
                {% endfor %}
                <!-- <div class="personagem">
                    <img src="{{ url_for('plataforma.static', filename='imagens/personagens/p01.png') }}" alt="personagem">
                    <h3>Nome</h3>
                    <p class="id-personagem" style="display: none;">1</p>
                </div>
                <div class="personagem">
                    <img src="{{ url_for('plataforma.static', filename='imagens/personagens/p02.png') }}" alt="personagem">
                    <h3>Jorge</h3>
                    <p class="id-personagem" style="display: none;">2</p>
                </div>
                <div class="personagem">
                    <img src="{{ url_for('plataforma.static', filename='imagens/personagens/p03.png') }}" alt="personagem">
                    <h3>Ratiel</h3>
                    <p class="id-personagem" style="display: none;">3</p>
                </div>
                <div class="personagem">
                    <img src="{{ url_for('plataforma.static', filename='imagens/personagens/pInicial.png') }}" alt="personagem">
                    <h3>Marcone</h3>
                    <p class="id-personagem" style="display: none;">4</p>
                </div>
                <div class="personagem">
                    <img src="{{ url_for('plataforma.static', filename='imagens/personagens/pInicial.png') }}" alt="personagem">
                    <h3>Josefino</h3>
                    <p class="id-personagem" style="display: none;">5</p>
                </div>
                <div class="personagem">
                    <img src="{{ url_for('plataforma.static', filename='imagens/personagens/pInicial.png') }}" alt="personagem">
                    <h3>Armenio</h3>
                    <p class="id-personagem" style="display: none;">6</p>
                </div> -->
            </div>
            <div class="explicacao">
                <h2>Olá {{ nome }}, pronto para gerar seus roteiros com o VibeScript?</h2>
                <p>compre personagens pré definidos ou personagens em branco para personalizar da maneira que preferir.</p>
                <a class="lnk-regis1" href="#">ACESSAR LOJA</a>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-container">
            <div class="logo2-container">
                <img  src="{{ url_for('static', filename='imagens/logos/logo2.png') }}" alt="logo">
            </div>
            <div class="footer-content">
                <h4>Contato:</h4>
                <p>vibescript@gmail.com</p>
                <p>(61) 9 91234-5678</p>
            </div>
            <div class="lnk-uteis">
                <a href="#">Atualizar Plano</a>
                <a href="#">Home</a>
                <a href="#">Sair</a>
            </div>
        </div>
        <p class="creditos">desenvolvido por <a href="#">Rafael Brandão</a></p>
    </footer>
    <script src="{{ url_for('plataforma.static', filename='js/plataforma.js') }}"></script>
</body>
</html>